<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SportsStore</title>

    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/knockout-3.3.0.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />

    <script src="~/Scripts/storeAjax.js"></script>
    <script src="~/Scripts/storeModel.js"></script>
    <script src="~/Scripts/storeCommonController.js"></script>
    <script src="~/Scripts/storeOrdersController.js"></script>
    <script src="~/Scripts/storeProductsController.js"></script>

    <style>
        body {
            padding-top: 10px;
        }
    </style>
    @RenderSection("Scripts", false)
</head>
<body class="container">
    @RenderBody()
</body>
</html>
